@charset "UTF-8";

/*--- estrutura  html ---*/
html{

}
body{
    background: #fff;
    font-family: arial, serif;

}
.h1, .h2, .h3, h1, h2, h3{
    margin: 0;
    padding: 0;
}

ul{
	list-style: none;
}

li{
	text-decoration: none;
	list-style: none;
}

/*--- cabeçalho do site <header> ---*/
.cabecalho-site{
     width: 100%;
 	 min-height: 120px;
     background: #e8ebf1;
}
.cabecalho-site .logo{
    line-height: 120px;
}
 .logo img{
    height: 35px;
    text-align: left;
}

/*--- Menu nav ---*/

 .menu-espaco{
    margin-top: 35px;
    background-color: #e8ebf1;
    border: 0;


}
.navbar-nav + li{
    margin-left: 25px;

}
.cor-menu li a{
   font: 14px arial;
   font-weight: bold;
   color: #000!important;
   text-transform: uppercase;
}

.cor-menu li a:hover{
   color: #2aacc8!important;

}
#bs-example-navbar-collapse-1 > ul > li.dropdown.open > a{
   color: #2aacc8!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #fff;
  border-top: solid 5px #2aacc8;
}
.menu-drop{
  border: 0;
  border-bottom:   solid 5px #2aacc8;
} /*-- fim menu --*/

/*--- section slide superior do site ---*/

 .slide-superior{
  width: 100%;
  min-height: 500px;
  background-color: #81e4ed;
  position: relative;
}
.slide-config{
  margin-top: 20px;
    height: 440px;
}

.slide-config img{
  height: 440px!important;
width: 100%;
}
.slide-indicator{
   position: relative;
   bottom: 0;
   margin-top: 10px;


}
.slide-indicator li{
  height: 15px;
  width: 15px;
  background: #71a3a7;
  border: 0;
}

.slide-indicator .active{
  height: 15px;
  width: 15px;
  border: 0;
  margin: 1px;


}

.legenda-slide{
  position: absolute;
  bottom: 25%;
  left: 5%;
  right: 60%;
  }
.legenda-slide h3{
  font-size: 40px;
}

/*-----fim slide----*/

/*--- conteudo Central --*/
.conteudo-site{

}



.postagem{
  min-height: 300px;
  width: 100%;
  background-color: #e8ebf1;
}
 .postagem h2{
    margin-top: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

 .postagem h2 i{
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #37a9ac;
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-right: 18px;
  -moz-border-radius: 1em;
  -webKit-border-radius: 1em;
   border-radius: 1em;
  

}

.postagem p{
  margin-bottom: 30px;
  font-size: 13px;
  color: #363636;

}
.postagem span{
  color: #2aacc8;
  color: 14px;

}

.postagem span i{
   color: #242526;
  font-size: 10px;
} /*--fim artigos div postagem --*/

.slide-projetos{
    height: 280px;
    width: 100%;
    background: #fff;
	margin-bottom: 60px;
}

.teste img{

height: 160px;
width: 220px;

}


.owl-nav{
  position: absolute;
  top: -55px;
  right: 0;
}

.owl-carousel .owl-stage-outer{
  margin-top: 60px;
}

.owl-prev{
  float: left;
  margin-right: 10px;

}
.owl-next{
  float: left;

}
.slide-projetos  h2{
  float: left;
  margin-top: 27px;
  position: absolute;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;

}
.slide-projetos  hr{
position: relative;
top: 45px;


}
.comentarios{
	margin-bottom: 40px;
}
.comentarios  h2{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
	
}

.comentarios p{
	width: 80%;
	font: 14px/24px arial;
	margin-bottom: 30px;
	
}

.comentarios span{
	font-size: 13px;
	font-weight: bold;
}

.clientes img{
	
	margin-right: -4px;
	width: 33%;
	height: 100px;
}
.dows{
	margin-bottom: 40px;
	min-height: 130px;
	background-color: #e8fcfe;
	
}
.fundo-dows{
	background-color: #e8fcfe;
	
	min-height:  130px;
}

.dows p{
	
	font-size: 16px;
	width: 85%;	
	margin-top: 37px;
	
	
}
.dows img{
	margin-top: 37px;
	
}


.rodape{
	min-height:  318px;
	width: 100%;
	background-color:#e8ebf1;
	font-size: 14px;
	font: 14px/24px arial;
}

.copy{
	margin-top: 35px;
	padding-bottom: 20px;
}

.rodape h2{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rodape p{
	width: 85%;	
	color: #363636;
	font: 14px/24px arial;
}

.rodape a {
	color: #363636;
	
}

.rodape img{
 width: 31%;
}

.copy-2{
	margin-top: 20px;
	padding-bottom: 10px;
}
.copy-2 p{
	font: 14px/18px arial;
}


.copy-2 img{
	width: 140px;
}



/*---------codigo para tablet------*/
@media (min-width: 768px){
.tablet-menu{
    text-align: center;
  }
  .navbar-nav li{
      margin-left: 10px;
  }
  .menu-espaco{
     margin-top: 10px;
     border: 1;
     float: none;;
 }
	.rodape .copy img{
 		width: 30%;
}
	
	.comentarios p{
	width: 100%;
}
	.dows p{
		width: 100%;
}
		.rodape p {
    width: 100%;
  
}
	
}


/*---codigo celular ---*/
@media (max-width: 767px){
.tablet-menu{
    text-align: center;
  }
  .menu-espaco{
     margin-top: 5px;
     float: none;
     background-color: #81E4ED;
 }
	
	.rodape .copy img{
 		width: 50px;
}
	.comentarios p{
	width: 100%;
}
	.dows p{
		width: 100%;
}
	.rodape p {
    width: 100%;
  
}
	.copy{
		text-align: center;
	}
	.postagem {
		text-align: center;
	}
	 .img-footer{
	margin: 0 auto;
	width: 150px;
}
 .img-down{
	margin: 0 auto;
	width: 300px;
}

	
}


@media (min-width: 992px){
.menu-espaco {
  margin-top: 35px;
  float: right;
}

.tablet-menu {
    text-align: none;

}

.logo img {

    padding-left: 0px;
}


}  /*-- fim query max 767 --*


